html{

    --body-bg: #F9FBFD;
    --head-bg: #fff;
    --head-shad: #76767629;
    --loglink-c: #A0A0A0;
    --headlink-c: #565454;
    --loglink-hc: #1C2750; 
    --logotxt-c: #565454;
    --hero-bg: #1C2750;
    --herotitle-c: #fff;
    --herobtn-bg: #8198EE;
    --herobtn-c: #fff;
    --herobtn-shad: #ffffff;
    --tc-border: #A0A0A0;
    --tc-bg: #fff;
    --tcitem-c: #45507A;
    --ttitem-c: #1C2750;
    --regspan-c: #4260D1;
    --moddiv-bg: #fff;
    --mod-bg: rgba(0,0,0,.5);
    --search-border: #E0E0E0;
    --searchbox-bg: #FFFFFF;
    --toggle-c: #fff;
    --toggle-border: #E0E0E0;

}

html[data-theme='dark']{
    --body-bg: #172B4D;
    --head-bg:  #2D4060;
    --head-shad: #76767629;
    --loglink-c: #9AAFFF;
    --headlink-c: #CBCBCB;
    /*update color for loglink-hc and logotxt-c*/
    --loglink-hc: #1C2750;  
    --logotxt-c: #e2dbdb;

    --hero-bg: #2D4060;
    --herotitle-c:  #FFFFFF;
    --herobtn-bg: #8198EE;
    --herobtn-c:  #FFFFFF;
    --herobtn-shad: #76767629;
    --tc-border: #CBCBCB;
    --tc-bg:  #2D4060;
    --tcitem-c: #FCFCFF;
    --ttitem-c: #9AAFFF;

    /*update colors: regspan, moddivm mod*/
    --regspan-c: #4260D1;
    --moddiv-bg:  #333333;
    --mod-bg:  #333333;

    --search-border: #203250;
    --searchInput-bg: #203250;
    --searchInput-text: #e2dbdb;
    --toggle-c: #203250;
    --toggle-border: #203250;
    
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: var(--body-bg);
}

/* Header */
header {
    width: 100%;
    background-color: var(--head-bg);
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 2px var(--head-shad);
}

header * {
    display: inline;
}

.header__menu-item {
    margin: 20px;
}

.header__menu-link,
.backlog__menu-link {
    text-decoration: none;
    color: var(--loglink-c);
    font-weight: 300;
}

.header__menu-link:hover {
    color: var(--headlink-c);
    font-weight: 400;
}

.backlog__menu-link:hover {
    color: var(--loglink-hc);
    font-weight: 700
}

.logo__img {
    padding-left: 40px;
    padding-right: 10px;
}

.logo__text {
    color: var(--logotxt-c);
    font-size: 22px;
    padding-right: 50px;
}
/*toggle start*/

.night-mode {
    position: absolute;
    right: 280px;
    border: solid 1px var(--toggle-border);
    border-radius: 3px;
    background-color: var(--toggle-c);
    padding: 5px 10px;
}

input[type=checkbox]{
    cursor: pointer;
    
    
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

/* toggle end*/


.search__input{ 
    padding: 10px;
}

.search-box{
    position: absolute;
    right: 70px;
    border: solid 1px var(--search-border);
    background: var(--searchInput-bg);
    border-radius: 3px;
    padding: 6px;
}

.search-box__input{
    border: 0; 
    background: var(--searchInput-bg);
    color: var(--searchInput-text);
}

/* Hero */
.hero {
    background-color: var(--hero-bg);
    border-radius: 3px;
    width: 96%;
    height: 130px;
    margin: 20px auto;    
}

.hero__img {
    position: relative;
    top: 20px;
    left: 350px;
}

.hero__title {
    color: var(--herotitle-c);
    position: relative;
    left: 80px;
    top: -35px;
    font-weight: 500;
}

.hero__btn {
    position: absolute;
    right: 100px;
    top: 150px;
    color:var(--herobtn-c);
    background-color: var(--herobtn-bg);
    border: 0;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    font: Regular 18px Poppins;
    letter-spacing: -0.19px;
}

.hero__btn:hover {
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px var(--herobtn-shad);
}

/* Table */
.content {
    width: 96%;
    margin: 10px auto;
}

.content__table {
    width: 100%;
}

.content__table-title, 
.content__table-content
{

    border: 1px solid var(--tc-border);
    border-radius: 1px;
    background-color: var(--tc-bg);
}

.content__table {    
    border-collapse: separate;
    border-spacing:0 15px;
}

.content__table-content-item {
    text-align: center;
    letter-spacing: -0.18px;
    color: var(--tcitem-c);
    font-weight: 300;    
    padding: 20px;
}

.content__table-title-item {
    border-top: solid 2px var(--ttitem-c);
    text-align: center;
    letter-spacing: -0.18px;
    color: var(--ttitem-c);
    font-weight: 700;
    padding: 20px;
}

.content__table-content:hover {
    box-shadow: 0px 10px 5px 0px var(--tc-border);
    cursor: pointer;
}

/* Footer */
.footer__pages {
    position: absolute;
    bottom: -200px;
    right: 100px;
    padding: 15px;
    color: var(--tcitem-c);
    letter-spacing: -0.21px;
    word-spacing: 15px;    
}

.bold {
    font-weight: 700;
}

/* Analytics */
.region {
    width: 96%;
    height: 80px;
    background-color: var(--herobtn-shad);
    margin: 10px auto;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

.region__container {    
    margin: 50px auto;
}

.region__span {
    color: var(--regspan-c);
    font-weight: 700;
}

.region__item {
    display: inline;
    padding: auto;
    padding: 15px;
}

.graphics__title {
    font: 400 21px;
    letter-spacing: -0.23px;
    color: var(--ttitem-c);
    padding: 50px;
}

/* Modal */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--mod-c);

    display: flex;
    justify-content: center;
    align-items: center;
}

#modal div {
  position: relative;
  background-color: var(--moddiv-bg);
  padding: 4em 2em;
}

#modal div a {
  position: absolute;
  top: -30px;
  right: 0;
}

#modal:not(:target) {
    visibility: hidden;
    opacity: 0;
}

#modal:target {
    visibility: visible;
    opacity: 1;
}